*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

.auth-form-container {
  background-color: white;
  max-width: 500px;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.auth-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.auth{
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: none;
  padding: 1rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth a{
  color: white;
}

.auth h1{
  margin-bottom:1rem;
  font-size:2rem;
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}

.auth__success{
  padding: 0.5rem;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.auth__error{
  padding: 0.5rem;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.auth form > input, button{
  height: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 1rem;
}

.secondary-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.secondary-button:hover {
  background-color: white;
  color: black;
}
